<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="../../dist/vue.js"></script>
</head>

<body>
  <div id="root">
    <div>123</div>
    <div>{{name}}{{name}}{{name}}{{name}}{{name}}{{name}}</div>
    <ul>
      <!-- <template v-if="isArrList">
        <li v-for="(item,index) in arrList" :key="index">{{item}}</li>
      </template> -->
    </ul>
    <button @click="changeArrList">改变</button>
    <button @click="changeName">改变Name</button>


    <!-- <chilen textmsg="message"></chilen> -->
  </div>
  <script>
  let app = new Vue({
      el: "#root",
      data: {
        name1: "名字213",
        arrList: ["张三", "李四", "吴昂呜"],
        message: 'message'
      },

      methods: {
        changeArrList () {
          console.log("123123")
          this.arrList = [];
          console.log("isArrList",this.isArrList)
        },
        changeName(){
          setInterval(()=>{
            this.name1="李四1"
          },2000)
        }
      },
      computed: {
        name () {
          return this.name1
        }
      }
    });
    // console.log("app",app)
    // setInterval(()=>{
    //   app.name="李四"
    // },3000)


    // let Vue = new Vue();

    // Vue.component("chilen", {
    //   template: `<div v-if="arrList.length>0">
    //         <div v-for="(item ,index) in arrList" :key=index>{{item}}</div>
    //         <div id='textId'>{{textmsg}}</div>
    //         <button @click='changeMessage'>改变</button>
    //         </div> `,
    //   // props:['textmsg'],
    //   props: {
    //     textmsg: {
    //       type: String,
    //       default: '未',
    //       validator(){
    //         return ['text','number'].indexOf(textmsg)>-1
    //       }
    //     }
    //   },
    //   data () {
    //     return {
    //       arrList: ["未更新1", "未更新2", "未更新3", "未更新4"],
    //       // textMsg: "原始值",
    //     };
    //   },
    //   computed: {

    //   },

    //   methods: {
    //     changeMessage () {
    //       console.log(this)
    //       this.arrList = ["新的1", "新的2"];
    //     },
    //     changeNextTick () {
    //       this.textMsg = "修改后的文本值";
    //       console.log("this.textMsg", this.textMsg);
    //       this.$nextTick(() => {
    //         let domTxt = document.getElementById("textId").innerText;
    //         console.log("domTxt", domTxt); //输出可以看到vue数据修改后并没有DOM没有立即更新，
    //         if (domTxt === "原始值") {
    //           console.log("文本data被修改后dom内容没立即更新");
    //         } else {
    //           // this.textMsg = "修改后的文本值";
    //           console.log("文本data被修改后dom内容被马上更新了");
    //         }
    //       });
    //     },
    //   },


    // });

  
      // console.log(root);
  </script>
</body>

</html>